*{
  padding:0px;margin:0px;align-content: center;}
.mydiv{
  text-align:center;}
 .div1{
   font-size:30px;
   width:150px;
   height:40px;
   line-height:40px;
   margin:0 auto;
   padding:20px;
 }
 .div2{
   background: pink;
   width:100%;

 }
 .div2 ul a:hover{
   background: royalblue;
 }
